<div ng-controller="IndexController">
    <table class="table">
        <tr><td colspan="2"><h1 style="text-align: center;">Excel转换Word</h1></td></tr>
        <tr>
            <td>Word模板：<input type="checkbox" />默认模板<a href="#"><img src="Style/img/281709.png" alt="预览" title="预览" style="width:16px;height:16px" /></a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="file">
            </td>
            <td>
                <input type="button" value="上传" class="btn btn-primary" ng-show="btnUpload" ng-click="upload()" />
                <input type="button" value="转换" class="btn btn-outline-success" ng-show="!btnUpload" ng-click="transform()" />
            </td>
        </tr>

        <tr>
            <td colspan="2"></td>
        </tr>
    </table>
</div>